{% extends "base.html" %}

{% block title %}
    Аккаунт
{% endblock %}

{% block content %}
    <div align="center">
        <h1>Ваш аккаунт</h1>
        <p>Это страница вашего аккаунта, {{ current_user.username }}.</p>
    </div>

    <div class="container mt-5"> <!-- margin-top level 5 -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3 class="text-uppercase text-center mb-4">Изменение данных пользователя</h3>
                <form method="POST" action="{{ url_for('account') }}" class="bg-light p-4 rounded shadow-sm">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.new_username.label }}<br>
                        {{ form.new_username(size=32) }}<br>
                    </div>
                    <div class="mb-3">
                        {{ form.new_email.label }}<br>
                        {{ form.new_email(size=32) }}<br>
                    </div>
                    <div class="mb-3">
                        {{ form.new_password.label }}<br>
                        {{ form.new_password(size=32) }}
                    </div>
                    <div class="mb-3">
                        {{ form.confirm_new_password.label }}<br>
                        {{ form.confirm_new_password(size=64) }}
                    </div>
                    <div class="mb-3">
                        {{ form.submit_change() }}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}